@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary: #00FF94;
$white: #FFFFFF;
$black: #1E1E1E;

body{
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
}

main{
}

.app{
    margin-top: 80px;
}

.app-mantenience{
    width: 100vw;
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-weight: 700;
    font-size: 40px;
}

/* ================NAVBAR==================== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: $black;
    z-index: 10;
    .nav-warp{
        display: flex;
        align-items: center;
        height: 100%;
        .nav-items{
            position: relative;
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .nav-item{
                margin: 0 50px;
                color: $white;
                list-style-type: none;
                font-family: 'Anonymous Pro', monospace;
                font-weight: 700;
                font-size: 16px;
                cursor: pointer;
                transition: all .3s ease-out;
                &.active{
                    color: $primary;
                    &::selection{
                        background-color: $white;
                    }
                }
                &:hover{
                    color: $primary;
                    transform: scale(1.02);
                }
                &::selection{
                    background-color: $primary;
                }
            }
        }
    }
}

/* ================MAINSECTION==================== */

.main-section{
    width: 100%;
    height: 944px;
    display: flex;
    align-items: center;
    background-color: $black;
    justify-content: space-between;
    .main-warp{
        width: 672px;
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2{
            font-size: 24px;
            color: $primary;
            font-family: 'Aldrich', sans-serif;
            font-weight: 400;
            margin: 0;
            padding: 0;
            animation: fadeIn 1s;
            &::selection{
                background-color: $white;
            }
        }
        h1{
            font-family: 'Anonymous Pro', monospace;
            font-size: 96px;
            color: $white;
            margin: 0;
            padding: 0;
            animation: fadeIn2 1s;
            white-space: nowrap;
            &::selection{
                background-color: $primary;
            }
        }
        p{
            margin: 0;
            padding: 0;
            color: $white;
            font-family: 'Anonymous Pro', monospace;
            font-size: 16px;
            font-weight: 400;
            animation: fadeIn2 1s;
            &::selection{
                background-color: $primary;
            }
        }
        @keyframes fadeIn {
            0%{
                transform: translateX(-50px);
                opacity: 0;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes fadeIn2 {
            0%{
                transform: translateY(50px);
                opacity: 0;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    .main-profile{
        position: relative;
        background-color: transparent;
        width: 440px;
        height: 440px;
        margin-right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;        
        animation: scaleIn 2s;
        .video-holder{
            width: 340px;
            height: 340px;
            border-radius: 25px;            
            overflow: hidden;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-self: center;
            .profile-video{
                width: 340px;
                height: 340px;
                padding-top: 0;
                video{
                    width: 340px;
                    height: 340px;
                    overflow-clip-margin: initial;
                    overflow: hidden;
                    pointer-events: none;
                }
            }
        }
        .border-profile{
            position: absolute;
            border: solid 1px $primary;
            width: 360px;
            height: 360px;
            border-radius: 25px;
            animation: scaleUpDown 2s infinite alternate;
        }
        .gif-holder-1{
            overflow: hidden;
            position: absolute;
            width: 120px;
            height: 120px;
            background-color: transparent;
            border-radius: 25px;
            left: 0px;
            top: 0;
            z-index: 2;
            animation: fadeInOut 10s ease-in-out infinite;
            ::selection{
                background-color: $primary;
            }
        }
        .gif-holder-2{
            overflow: hidden;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 150px;
            background-color: transparent;
            border-radius: 25px;
            left: 300px;
            top: 300px;
            z-index: 2;
            animation: moveLeftInOut 5s ease-in-out infinite;
            ::selection{
                background-color: $primary;
            }
        }
        .txt-holder{
            position: absolute;
            left: 280px;
            top: 0px;
            z-index: 2;
            color: $primary;
            letter-spacing: 5px;
            font-family: 'Aldrich', sans-serif;
            font-size: 16px;
            border-right: 5px solid $primary;
            white-space: nowrap;
            overflow: hidden;
            animation: 
                cursor .4s step-end infinite alternate,
                type 4s infinite;
            &::selection{
                background-color: $white;
            }
        }
        @keyframes scaleUpDown {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1);
            }
        }
        @keyframes fadeInOut {
            0%, 25%, 75%, 100% {
                transform: scale(0);
            }
            30%, 70% {
                transform: scale(1);
            }
        }
        @keyframes moveLeftInOut {
            0%, 100% {
                transform: translateY(-100px);
                opacity: 0;
            }
            30%, 70% {
                opacity: 1;
                transform: translateY(50px);

            }
        }
        @keyframes cursor {
            50%{ border-color: transparent;}            
        }        
        @keyframes type {
            0%{
                width: 0%;
            }
            100%{
                width: fit-content;
            }
        }
        @keyframes scaleIn {
            from{
                transform: scale(0);
            }
            to{
                transform: scale(1);
            }
        }
    }
}



/* ================TITLE==================== */

.title{
    height: 0px;
    background-color: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-out;
    overflow: hidden;
    transition-delay: 0.2s;
    .title-warp{
        position: relative;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        h2{
            margin: 0;
            padding: 0;
            font-family: 'Aldrich', sans-serif;
            font-size: 32px;
            z-index: 1;
            &::selection{
                background-color: $primary;
            }
        }
        p{
            margin: 0;
            padding: 0;
            font-family: 'Anonymous Pro', monospace;
            font-size: 20px;
            z-index: 1;
            &::selection{
                background-color: $primary;
            }
        }
        .bg{
            position: absolute;
            opacity: 1;
            transition: 2s ease-in;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0;
            .bg-expe{
                width: 100%;
                height: auto;
                padding-top: 0;
                video{
                    overflow-clip-margin: initial;
                    overflow: hidden;
                    pointer-events: none;
                }
            }
        }   
             
    }
    &.show {
        height: 200px;
        .title-warp{
            .bg{
                opacity: 0.3;
            }
        }
                
    }
    @media(prefers-reduced-motion){
        &.show{
            .title-warp{
                transition: none;
            }
        }
    }
}

/* ================SKILLSECTION==================== */

.skills-section{
    height: 968px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
    .skill-warp{
        width: 720px;
        margin: 0 370px;
        display: flex;
        flex-direction: column;
        gap: 1rem;      
          
        p{
            font-family: 'Aldrich', sans-serif;
            font-size: 16px;
            &::selection{
                background-color: $white;
            }
        }
        .skills-icons{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                cursor: pointer;
                transition: all .3s ease-out;
               &:hover{
                transform: scale(1.05);
               } 
               &::selection{
                background-color: $white;
            }
            }
        }
    }
}


/* ===================EXPERIENCESECTION============================ */

.experience-section{
    height: 1500px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    .expe-warp{
        margin: 0 370px;
        width: 720px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p{
            font-family: 'Aldrich', sans-serif;
            font-size: 16px;
            &::selection{
                background-color: $white;
            }
        }
        .projects-warp{
            width: 100%;
            height: 370px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .types-warp{
                width: 50%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                gap: 1rem;
                .type-item {
                    height: 28px;
                    border-bottom: solid 2px $black;
                    cursor: pointer;
                    overflow: hidden;
                    .arrow{
                        margin: 0 5px;
                        transition: all .2s ease-in-out;
                        transform: translateX(-30px);
                        &::selection{
                            background-color: $white;
                        }
                    }
                    span {
                        font-family: 'Aldrich', sans-serif;
                        font-size: 24px;
                        display: inline-block;
                        transition: all .2s ease-in-out;
                        transform: translateX(-20px);
                        &::selection{
                            background-color: $white;
                        }
                    }
                    &:hover {
                        .arrow{
                            transform: translateX(0px);
                        }
                        span{
                            transform: translateX(10px);
                        }
                    }
                }
                
            }
            .project-holder{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .videos{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    height: 370px;
                    width: 208px;
                    transition: .3s ease-out;                    

                    .cl-video{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 208px;
                        height: 370px;
                        padding-top: 0;
                        border-radius: 25px;
                        transform: translateX(-50px);
                        transition: all .3s ease-out;
                        filter: blur(25px);
                        opacity: 0;
                        
                        &.active{
                            filter: blur(0);
                            opacity: 1;
                            transform: translateX(0);
                            z-index: 1000;
                        }
                        &.full-screen{
                            cursor: pointer;
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100vw;
                            height: 100vh;
                            background-color: rgba($color: $black, $alpha: 0.5);
                            filter: blur(0);
                            opacity: 1;
                            transform: translateX(0);
                            z-index: 1000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .cl-player{
                                width: 100vw;
                                height: 100vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                video{
                                    height: 100%;
                                    width: auto;
                                }
                            }
                        }
                        .cl-player{
                            width: 208px;
                            height: 370px;                                           
                            padding-top: 0;        
                            border-radius: 25px;  
                            overflow: hidden;   
                            video{
                                padding-top: 0;                            
                                width: 208px;
                                height: 370px;
                                overflow-clip-margin: initial;
                                overflow: hidden;
                                pointer-events: none;
                            }
                        }
                        &.bg{
                            width: 208px;
                            height: 370px;  
                            opacity: 1;
                            transform: translateX(0);
                            filter: blur(0);
                            overflow: hidden;
                            video{
                                padding-top: 0;                            
                                width: 208px;
                                height: 370px;
                                overflow-clip-margin: initial;
                                overflow: hidden;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
        .softwares-warp{
            width: 100%;
            height: 270px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .types-warp{
                width: 50%;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                gap: 1rem;
                .type-item {
                    height: 28px;
                    border-bottom: solid 2px $black;
                    cursor: pointer;
                    overflow: hidden;
                    .arrow{
                        margin: 0 5px;
                        transition: all .2s ease-in-out;
                        transform: translateX(-30px);
                        &::selection{
                            background-color: $white;
                        }
                    }
                    span {
                        font-family: 'Aldrich', sans-serif;
                        font-size: 24px;
                        display: inline-block;
                        transition: all .2s ease-in-out;
                        transform: translateX(-20px);
                        &::selection{
                            background-color: $white;
                        }
                    }
                    &:hover {
                        .arrow{
                            transform: translateX(0px);
                        }
                        span{
                            transform: translateX(10px);
                        }
                    }
                }
                
            }
            .software-holder{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .software{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    .project-software{
                        position: absolute;
                        border-radius: 25px;
                        width: auto;
                        height: 210px;
                        width: 210px;
                        opacity: 0;
                        filter: blur(15px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $black;
                        transition: all .3s ease-out;
                        z-index: 1;
                        img{
                            &::selection{
                                background-color: $white;
                            }
                        }
                        &::selection{
                            background-color: $white;
                        }
                        &.active{
                            opacity: 1;
                            filter: blur(0);
                            
                        }
                        &.bg{
                            transition: all .3s ease-out;
                            opacity: 1;
                            z-index: 0;
                            filter: blur(0);
                            overflow: hidden;
                        }
                        &.border{
                            transform: scale(1.2);
                            background-color: transparent;
                            border: solid 1px $black;
                            z-index: 0;
                            filter: blur(0);
                            opacity: 1;
                            animation: scaleLoop 5s ease-out infinite;
                            @keyframes scaleLoop {
                                0%, 100%{
                                    opacity: 1;
                                    transform: scale(1.1);
                                    filter: blur(0);
                                }
                                50%{
                                    opacity: 0;
                                    transform: scale(1.25);
                                    filter: blur(25px);
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}

.p1-holder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.95);
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
    filter: blur(0);
    .p1-close{
        font-family: 'Aldrich', sans-serif;
        color: $white;
        font-size: 40px;
        cursor: pointer;
        position: fixed;
        right: 40px;
        top: 15px;
        transition: all .3s ease-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    .p1-warp{
        margin: 0 270px 0 270px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .p1-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 25px 25px;
            width: 100%;
            height: 24%;
            background-color: $primary;
        }
        .p1-info{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            .info-ids{
                width: 40%;
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 1rem;
                .ids-item{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    border-bottom: solid 1px $primary;
                    padding-bottom: 3px;
                    h1{
                        width: 20%;
                        padding: 0;
                        margin: 0;
                        color: $primary;
                        font-family: 'Anonymous Pro', monospace;
                        font-weight: 400px;
                        font-size: 16px;
                    }
                    span{
                        font-family: 'Anonymous Pro', monospace;
                        font-size: 16px;                    
                        color: $white;
                    }
                }
            }
            .info-desc{
                width: 60%;
                padding: 10px;
                p{
                    font-family: 'Anonymous Pro', monospace;
                    color: $white;
                    margin: 0;
                    font-size: 16px;

                }
            }
        }
        .p1-images{
            width: 100%;
            height: 290px;
            border: solid 2px $primary;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .img-container{
                width: 400px;
                margin: 10px 20px 10px 20px;
                overflow: hidden;
                cursor: pointer;
                transition: all .3s ease-out;
                img{
                    transition: all .3s ease-out;
                }
                &:hover{
                    overflow: visible;
                    img{
                        transition: all .3s ease-out;
                        transform: scale(1.5) translateY(-150px);
                    }
                }
            }
        }
        .p1-buttons{
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            .live-btn{
                background-color: $primary;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 7px;
                font-family: 'Aldrich', sans-serif;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $black;
                }
                &.disable{
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
            .git-btn{
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    &.disabled{
        opacity: 0;
        pointer-events: none;
        transform: translateY(-2000px);
        filter: blur(25px);
    }
}


/* ===================CONTACTSECTION============================ */

.contact-section{
    height: 500px;
    background-color: $black;
    padding: 0 270px;
    .info{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .personal{
            width: 50%;
            .tit{
                color: $white;
                font-family: 'Anonymous Pro', monospace;
                font-weight: 400px;
                border-bottom: solid 1px $white;
                padding-bottom: 10px;
                font-size: 24px;
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                h1{
                    width: 100px;
                    color: $white;
                    font-family: 'Aldrich', sans-serif;
                    font-size: 16px;
                }
                span{
                    font-family: 'Aldrich', sans-serif;
                    color: $white;
                    font-size: 16px;
                }
            }
            .btn-wpp{
                margin-top: 20px;
                width: 200px;
                padding: 10px;
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition:  all .3s ease-out;
                a{
                    font-family: 'Aldrich', sans-serif;
                    font-size: 16px;
                    color: $black;
                    text-decoration: none;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .social{
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .git-btn{
                cursor: pointer;
                transition:  all .3s ease-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}



/* ===================COMMONCLASSES==================== */
.title-bg{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 72px;
    background-color: $black;
    color: $primary;
    font-size: 32px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    filter: blur(5px);
    transform: translateX(-500px);
    opacity: 0;
    transition: all 1s ease-out;
    span{
        white-space: nowrap;
        &::selection{
            background-color: $white;
        }
    }
    &.open{
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }
    @media(prefers-reduced-motion){
        &.open{
            transition: none;
        }
    }
}

.vjs-poster,
.vjs-title-bar,
.vjs-text-track-display,
.vjs-title-bar,
.vjs-recomentations-overlay,
.vjs-upcoming-video,
.vjs-loading-spinner,
.vjs-error-display{
    display: none;
}

.player-profile-video-dimensions,
.player-BG-EXPERIENCE-dimensions,
.vjs-fluid:not,
.resume-dimensions{
    padding-top: 0;
}

